.skills {
  border: 1px solid red;
  position: absolute;
  right: 5%;
  top: 30%;
  display: flex;
  justify-content: space-around;
}

.skills1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  right: 5%;
  height: 20%;
  width: 40%;
  position: absolute;
  top: 40%;
  border: 1px solid red;

}

.logo43 {
  margin: 2%;
  padding: 2%;
  height: 200px;
  width: 200px;
}